.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48
}

.title {
    margin-right: 0.3em;
    font-weight: bolder;
    background-color: rgb(176, 0, 0);
    padding: 0px 0.2em;
    border-radius: 0.3em;
    color: white;
    font-size: 0.9em;
    // font-size: max(0.7em, 1.7vw);
}

#home-wrapper {
    height: calc(100vh - 40px);
    width: 100%;
    background-image: url("../resources/favicon-login-bg.png");
    background-size: min(100vh - 40px - 60px, 100vw - 60px);
    background-repeat: no-repeat;
    background-position: calc((100vw - min(100vh - 40px - 60px, 100vw - 60px)) / 2), calc(((100vh - 40px) - min(100vh - 40px - 60px, 100vw - 60px)) / 2);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "user-info play-selector play-selector past-games"
        "user-info play-selector play-selector past-games"
        "user-info play-selector play-selector past-games"
        "user-info play-selector play-selector past-games"
        "user-info lobby lobby past-games"
        "user-info lobby lobby past-games"
        "user-info lobby lobby past-games";


    @media screen and (max-width: 1200px) {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "user-info past-games past-games"
            "user-info past-games past-games"
            "lobby lobby lobby"
            "play-selector play-selector play-selector"
            "play-selector play-selector play-selector";
    }

    .user-info {
        padding: 20px;
        grid-area: user-info;

        .title {
            font-size: max(0.7em, 1.7vw);
        }

        .username {
            font-size: max(1.2em, 2vw);
        }

        .user-stats {
            font-size: max(0.7em, 1.3vw);
        }

        .sign-up-date {
            font-size: max(0.4em, 1vw);
        }

        .user-id {
            color: grey;
            font-size: medium;
        }
    }

    #play-selector {
        display: flex;
        flex-direction: column;

        div:nth-of-type(1) {
            flex-grow: 1;
        }

        text-align: center;
        // background-color: #413f3f80;
        padding: 20px;
        font-size: xx-large;

        .time-selections {
            div {
                cursor: pointer;
                background-color: rgb(43, 43, 43);
                display: flex;
                justify-content: center;
                align-items: center;

                // opacity: 0.80;
                &.disabled {
                    opacity: 0.25;
                    cursor: not-allowed;
                }

                border: 3px solid #a1a1a1;
                transform: scale(1);
                transition: .15s;

                &:hover:not(.disabled) {
                    transform: scale(1.05);
                    background-color: rgb(26, 26, 26);
                    border: 3px solid red;
                }
            }
        }

        .game-modes {
            div:nth-of-type(1) {
                flex-grow: 1;
            }

            div:nth-of-type(2) {
                flex-grow: 1;
            }

            div:nth-of-type(3) {
                flex-grow: 1;
            }

            display: flex;

            div {
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }

                margin-bottom: 20px;
                margin-right: 20px;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: scale(1);
                transition: .15s;

                &:hover {
                    transform: scale(1.1);
                    background-color: rgb(26, 26, 26);
                    border: 5px solid red;
                }

                &.selected {
                    background-color: rgb(75, 75, 75);
                    border: 5px solid red;
                    cursor: not-allowed;
                }

                border: 5px solid #a1a1a1;
            }
        }
    }

    #previous-games {
        // margin: 3px;
        background-color: var(--dark);
        // padding: 5px;
        // border-radius: 50px;


        h2 {
            text-align: center;
        }

        // padding-top: 10px;
        font-size: medium;
        font-weight: 400;

        ul {
            list-style-type: none;
        }

        li {
            margin-bottom: 3px;
            background-color: var(--grey);
            padding: 5px;
            // border-radius: 30px;
            &:hover {
                background-color: dimgray;
            }
            transition: 100ms;
            cursor: pointer
        }

        .container {
            display: flex;
            flex-direction: row;

            .result {
                width: 25%;   
            }

            .username {
                height: 100%;
                display: flex;
                flex-direction: column;
                width: 45%;

                .white {
                    height: 100%;
                }

                .black {
                    height: 100%;
                }
            }

            .game-mode {
            }

            .time-controls {
            }
        }


        overflow-y: auto;
        grid-area: past-games;
    }

    #play-selector {
        grid-area: play-selector;
    }

    #lobby {
        grid-area: lobby;

        margin: 20px;

        table {
            margin: 0;
            border-collapse: collapse;
            width: 100%;
        }

        td,
        th {
            padding: 8px;
            margin: 0;
        }

        td {
            font-weight: 400;
        }

        th:nth-child(1),
        td:nth-child(1) {
            width: 30%;
        }

        th:nth-child(2),
        td:nth-child(2) {
            width: 20%;
        }

        th:nth-child(3),
        td:nth-child(3) {
            width: 20%;
        }

        th:nth-child(4),
        td:nth-child(4) {
            width: 30%;
        }

        tr {
            border-bottom: 1px solid #a1a1a1;
            transition: 300ms;
        }

        thead {
            tr {
                border-bottom: 3px solid #a1a1a1;
            }
        }

        tbody {
            tr {
                cursor: pointer;
                transition: 300ms;
            }

            tr:hover {
                background-color: rgba(118, 0, 244, 0.333);
                border-bottom: 2px solid rgb(78, 0, 162);
                border-top: 2px solid rgb(78, 0, 162);
                z-index: 100;
            }
        }
    }
}


@keyframes copySuccess {
    0% {
        colour: white;
    }

    10% {
        transform: scale(0);
        colour: white;
    }

    50% {
        transform: scale(2);
        color: green;
    }

    90% {
        color: green;
        transform: scale(1.3);
    }

    100% {
        color: white;
        transform: scale(1.3);
    }
}

.mode-selector,
.time-selector {
    width: 50%;
    display: flex;
    flex-direction: row;

    label {
        width: 100%;

        input {
            width: auto;
        }
    }
}