/********************
       GENERAL
********************/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/********************
      HEADINGS
********************/

h1,
h2,
h3 {
    margin: 0.5em 0;
    width: auto;
}

h2 {
    text-align: center;
}

h3 {
    margin-top: 0;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--txt-2);
    text-transform: uppercase;
}


/********************
   BASIC MARKDOWN
********************/

u {
    border-bottom: 1px solid var(--primary);
    text-decoration: none;
}


/********************
        LINES
********************/

hr {
    margin: auto;
    border: 1px solid var(--primary);
    width: 80%;
}


/********************
       BUTTONS
********************/

button,
input+label.button,
.button-type {
    background: var(--bg-3);
    cursor: pointer;

    border: none;
    border-radius: 5px;
    padding: 0.4em 0.6em;
    width: auto;
    height: auto;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-family: var(--font-1);
    color: var(--txt);

    transition: 50ms;

    &:hover,
    &:focus {
        background: var(--hover);
    }

    &.disabled,
    &[disabled] {
        background: var(--bg-faded);
        cursor: not-allowed;
        color: var(--txt-2);

        &:hover,
        &:focus {
            background: var(--bg-faded);
        }
    }
}


/********************
       INPUTS
********************/

input {
    background: none;
    outline: none;
    filter: none;
    margin: 10px;
    border: none;
    border-bottom: 1px solid var(--dark);
    padding: 0.5em;
    width: 250px;
    display: inline-block;
    font-size: 1rem;
    font-family: var(--font-1);
    color: var(--txt);
    --trs: border-bottom-color 50ms;
    -webkit-transition: var(--trs);
    -moz-transition: var(--trs);
    -ms-transition: var(--trs);
    -o-transition: var(--trs);
    transition: var(--trs);
}

input:hover {
    border-bottom-color: var(--grey);
}

input:focus {
    opacity: 1;
    border-bottom-color: var(--fog);
}

input[hidden] {
    display: none;
}


/********************
       TABLES
********************/

table {
    font-size: 20px;
}

th {
    text-align: left;
}


/********************
       LABELS
********************/

input:checked+label.button {
    background: var(--primary);
}


/********************
        TEXT
********************/

.underline {
    position: relative;
}

.underline::after {
    content: "";
    background: var(--primary);
    background: var(--gradient-1);

    width: 100%;
    height: var(--underline-thickness);

    position: absolute;
    bottom: calc(0.25em - var(--underline-thickness));
    left: 0;
    z-index: -1;
}

.title {
    background: var(--primary);
    background: var(--gradient-1);

    margin-left: 0.5em;
    border-radius: 5px;
    padding: 0 0.2em;
    display: inline-block;

    font-size: 0.9em;
    font-weight: bold;
    color: var(--white);
}