body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

#game-controls {
    margin-left: 20px;
}

#game-controls button {
    padding: 7px;
    margin: 10px;
}

#previous-moves tr,
#previous-moves th,
#previous-moves td {
    height: 15px;
}

#previous-moves p {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

table {
    height: auto;
}

#game-info #current-board {}