.p.l {
    background-image: url('./normal/pawnWhite.svg')
}

.n.l {
    background-image: url('./normal/knightWhite.svg')
}

.b.l {
    background-image: url('./normal/bishopWhite.svg')
}

.r.l {
    background-image: url('./normal/rookWhite.svg')
}

.q.l {
    background-image: url('./normal/queenWhite.svg')
}

.k.l {
    background-image: url('./normal/kingWhite.svg')
}

.p.d {
    background-image: url('./normal/pawnBlack.svg')
}

.n.d {
    background-image: url('./normal/knightBlack.svg')
}

.b.d {
    background-image: url('./normal/bishopBlack.svg')
}

.r.d {
    background-image: url('./normal/rookBlack.svg')
}

.q.d {
    background-image: url('./normal/queenBlack.svg')
}

.k.d {
    background-image: url('./normal/kingBlack.svg')
}